{% extends 'blog/basic.html' %}
{% block title %}Blog{% endblock %}

{% block body %}
 
    <h1>Welcome to the blog!</h1>
    <div class = "container">


 <div class="row mb-2">
    {% for i in mypost %}
     
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{i.title}}</strong>
          <h3 class="mb-0">{{i.heading1}}</h3>
          <div class="mb-1 text-muted">{{i.pub_date}}</div>
          <p class="card-text mb-auto">{{.content1}}</p>
          <a href="/blog/blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
         <img src='/media/{{i.thumbnail}}'  alt="..."  class="bd-placeholder-img" width="220" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" </svg>

        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}

  </div><div class="row mb-2">
  {% endif %}

  {% endfor %}
</div>  


{% endblock %}